

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/Trashbox/Course">Deleted Course</a>
        <a href="/Trashbox/Section">Deleted Sections</a>
        <a href="/Trashbox/User">Rejected Users</a>
    </div>
</body>
</html>
