
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Choose a action</h1>
        <a href="/Admin/Index">Admins</a>
        <a href="/Teacher/Index">Teachers</a>
        <a href="/Student/Index">Students</a>
        <a href="/Course/Index">Courses</a>
        <a href="/Section/Index">Sections</a>


    </div>
</body>
</html>
